/* Theme */

main {
/*	background: #E8EAF6;*/
	background:#000000 url("../img/intro-bg.jpg") no-repeat bottom center scroll;
/*    background-color: #000000;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}